#Contact{
    padding: 0% 40%;
    padding-bottom: 0;
    min-height: 100vh;
    background-color: #1B1C1A;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contact-form{
    padding-top: 20%;
    padding-bottom: 80%;
}
.contact-title-form{
    font-family: "Jost", sans-serif;
}
.form-mail{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    font-weight: 500;
    font-size: 20px;

}
.form-mail label{
    padding-bottom: 1%;
}
.form-mail input{
    margin: 0 20%;
    border-radius: 5px;
    padding: 2%;
    margin-bottom: 4%;
}
.form-mail textarea{
    border-radius: 5px;
    margin-bottom: 4%;
}
.form-mail button{
    color: white;
    background-color: red;
    border-radius: 5px;
    width: 40%;
    margin-top: 2%;
    cursor: pointer;
    font-size: 20px;
    font-family: monospace;
    
}
.form-mail button:hover{
    box-shadow: 0 0 5px red, 0 0 15px red;
    transition: 0.3s;
}
.form-mail button:active{
    box-shadow: 0 0 5px red;
}

/*-------------------------- footer----------------------*/
.home-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1B1C1A;
  }
  .home-footer img {
    background-color: gray;
    width: 7%;
    border-radius: 50%;
    border-style: double;
    border-width: 1px;
    border-color: gray;
    margin: 2% 10px 0 0;
  }
  .home-footer-redes{
    padding-left: 1%;
  }
  .home-footer-redes > a > img:hover {
    box-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red, 0 0 50px red;
    background-color: white;
    border-color: white;
    transition: 0.5s;
  }
  .home-footer-redes > a > img:active{
    box-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red;
    background-color: gray;
    border-color: gray;
  }
  .home-footer-text{
    font-size: 90%;
    font-family: monospace;
  }
  .home-footer-text a{
    text-decoration: none;
    color: gray;
  }
  .home-footer-text a:hover{
    text-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red;
    color: white;
    transition: 0.5s;
  }
  .home-footer-text a:active{
    text-shadow: 0 0 5px red, 0 0 15px red;
    color: gray;
  }
  /*-------------------------- responsive----------------------*/
  @media (max-width:375px){
    .home-all{
      width: 375px;
      
    }
  }