#Contact{
    padding: 0 40%;
    min-height: 80vh;
}
.contact-title-form{
    font-family: "Jost", sans-serif;
}
.form-mail{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    font-weight: 500;
    font-size: larger;
}
.form-mail label{
    padding-bottom: 1%;
}
.form-mail input{
    margin: 0 20%;
    border-radius: 5px;
    padding: 2%;
    margin-bottom: 2%;
}
.form-mail textarea{
    border-radius: 5px;
}
.form-mail button{
    color: white;
    background-color: red;
    border-radius: 5px;
    width: 20%;
    margin-top: 2%;
    cursor: pointer;
}
.form-mail button:hover{
    box-shadow: 0 0 5px red, 0 0 15px red;
}
.form-mail button:active{
    box-shadow: 0 0 5px red;
}