
*{
  max-width: 100%;
}
.home-all {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 100vh;
  padding: 0 0 10% 0;
}

/*-------------------------- cara izquierda----------------------*/
.home-container{
  width: 160%;
  padding-right: 2%;
}
.home-dev {
  font-size: 100px;
  padding: 0.5% 0 0.5% 0;
}
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap");
.home-name {
  font-family: "Jost", sans-serif;
  font-size: 90%;
  padding-bottom: 1%;
}
.home-cargo {
  font-family: "Jost", sans-serif;
  font-size: 80%;
  padding-bottom: 2%;
}
.home-redes {
  padding: 0 0 2% 0;
}
.home-redes img {
  background-color: gray;
  width: 4%;
  border-radius: 50%;
  border-style: double;
  border-width: 1px;
  border-color: gray;
  margin: 0% 10px 0 0;
}
.home-redes > a > img:hover {
  box-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red, 0 0 50px red;
  background-color: white;
  border-color: white;
  transition: 0.3s;
}
.home-redes > a > img:active{
  box-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red;
  background-color: gray;
  border-color: gray;
}
.home-dev > div:first-child {
  text-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red, 0 0 50px red;
  animation: parpadeo 3.5s infinite backwards;
}
@keyframes parpadeo {
  to {
    color: gray;
    text-shadow: none;
  }
}

.home-dev .react-typewriter-text-wrap {
  font-family: monospace;
  min-height: 50px;
  padding: 0 0 2% 3.1%;
  font-size: 12%;
  color: gray;
}
.home-dev h1.react-typewriter-text{
  text-align: center;
}

/*-------------------------- cara derecha----------------------*/
.home-code {
  width: 100%;
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0.5% 0 0.5% 0;
  margin-left: 2%;
}
.home-code img {
  width: 130%;
  border-style: solid;
  border-radius: 50%;
  border-color: black;
  border-width: 1px;
  box-shadow: 0 0 5px red, 0 0 15px red, 0 0 25px red;
  animation: parpadeobox 3.5s infinite backwards;
}
@keyframes parpadeobox{
  to{
    box-shadow: none;
    border-color: gray;
  }
  
}
.home-img {
  padding-right: 9%;
  padding-bottom: 2%;
}
.home-writer .Typewriter {
  color: white;
  font-weight: 500;
  font-size: 350%;
  font-family: monospace;
  
}

/*-------------------------- flecha nav top----------------------*/

.home-flecha img{
  background-color: gray;
  height: 40px;
  border: 1px solid gray;
  border-radius: 50%;
  position: fixed;
  top: 90%;
  right: 3%;
  z-index: 2;
}

.home-flecha img:hover{
  background-color: white;
  border-color: white;
  box-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red;
  transition: 0.3s;
}

.home-flecha img:active{
  background-color: gray;
  border-color: gray;
  box-shadow: 0 0 5px red, 0 0 15px red;
}

/*-------------------------- media queries----------------------*/
@media (max-width:1280px) {

  /*-------------------------- media querie - cara izquierda----------------------*/
  .home-container{
   width: 90%;
  }
  .home-all{
    flex-direction: column;
  }
  .home-code{
    width: 90%;
  }
 .home-redes img{
  width: 4%;
 }

 /*-------------------------- media querie - cara derecha----------------------*/
.home-img{
  padding-right: 7%;
}

/*-------------------------- media querie - flecha nav top----------------------*/

}