header{
    background-color: black;
}
.headroom{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: large;
    border-radius: 10px;
}
.headroom--unfixed {
    position: relative;
    transform: translateY(0);
  }
  .headroom--scrolled {
    transition: transform 200ms ease-in-out;
  }
  .headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
  }
  .headroom--pinned {
    position: fixed;
    transform: translateY(0%);
  }
.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.container ul{
    display: flex;
    margin-right: 2%;
    align-items: center;
}
.container .img{
    margin: 1% 0 1% 4.5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.container .img .loader{
    width: 38px;
    height: 38px;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red, 0 0 50px red;
    border-top-color: transparent;
    border-right-color: transparent;
    animation: spin 1.2s
        linear infinite;
    margin-right: 40px;
}
@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}

.container li{
    list-style-type: none;
    margin:0 0 0 100px;
}
.container a{
    text-decoration: none;
    color: gray;
    padding: 50px;
    font-weight: 500;
    font-size: 15px;
    font-family: monospace;
}
.container li a:hover{
    text-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red, 0 0 50px red, 0 0 80px red;
    color: white;
    transition: 0.5s;
}
.container li a:active{
    text-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red, 0 0 50px red;
    color: gray;
}
.nombre{
    font-family: "Jost", sans-serif;
}

/*-------------------------- responsive----------------------*/
@media (width: 375px){
    .container{
        width: 375px;
        
    }
}