
.headroom{
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    color: white;
    font-size: large;
    border-radius: 10px;
    box-shadow: 0 10px 30px -8px red;
}

.headroom--unfixed {
    position: relative;
    transform: translateY(0);
  }
  .headroom--scrolled {
    transition: transform 200ms ease-in-out;
  }
  .headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
  }
  .headroom--pinned {
    position: fixed;
    transform: translateY(0%);
  }
.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.container ul{
    display: flex;
    margin-right: 2%;
    align-items: center;
}
.container .img{
    margin: 1% 0 1% 4.5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.container .img .loader{
    width: 38px;
    height: 38px;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red, 0 0 50px red;
    border-top-color: transparent;
    border-right-color: transparent;
    animation: spin 1.2s
        linear infinite;
    margin-right: 40px;
}
@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}

.container li{
    list-style-type: none;
    margin:0 0 0 100px;
}
.container a{
    text-decoration: none;
    color: gray;
    padding: 50px;
    font-weight: 500;
    font-size: 15px;
    font-family: monospace;
}
.container li a:hover{
    text-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red, 0 0 50px red, 0 0 80px red;
    color: white;
    transition: 0.5s;
}
.container li a:active{
    text-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red, 0 0 50px red;
    color: gray;
}
.nombre{
    font-family: "Jost", sans-serif;
}
.nav-toggle{
    display: none;
}


/*-------------------------- responsive----------------------*/
@media (max-width: 768px){
    .headroom{
        padding: 2% 0;
        position: fixed;
        box-shadow: none;
        background-color: black;
        box-shadow: 0 10px 30px -8px red;
    }
    .container ul{
        width: 40%;
        display: flex;
        margin-right:0;
        flex-direction: column;
        align-items: end;
        position:absolute;
        background-color: rgba(0, 0, 0, 0.9);   
        height: 100vh;
        top: 80%;
        transform: translateX(100%);
        transition: 0.3s ease all;
    }
    
    .container ul>li{
        margin: 0 auto 20px;
        
    }
    .container ul li{
        margin-top: 20%;
    }
    .container ul li a{
        padding: 0;
    }
    .container ul.open{
        transform: translateX(0);
    }

    .nav-toggle.open>span{
        transform: rotate(45deg) translate(0px, 0px);
    }
    .nav-toggle.open>span:nth-child(2){
        display: none;
    }
    .nav-toggle.open> span:nth-child(3){
        transform: rotate(-45deg) translate(-9px, 5px);
    }
    .nav-toggle{
        display: flex;
        flex-direction: column;
        margin: 15px;
        top: 60px;
        left: 0;
    }
    .nav-toggle span{
        width: 38px;
        height: 4px;
        background: gray;
        border-radius: 2px;
        margin-bottom: 5px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }
}