#Aboutme{
    padding: 10% 15%;
    min-height: 80vh;
}
.about-section {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-style: solid;
  border-width: 0px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red, 0 0 50px red;
  
}
.about-texto h1 {
  font-family: "Jost", sans-serif;
}
.about-texto p {
  font-family: monospace;
  text-align: start;
  padding: 0 20% 0;
  font-size: 20px;
}
.about-mention {
  font-family: monospace;
  font-size: 20px;
}
.about-iconos {
  display: flex;
  font-family: monospace;
  font-size: 120%;
  padding-left: 0;
}
.about-icono {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
.about-iconos img {
  width: 15%;
  height: 80%;
}
/*-------------------------- media queries----------------------*/
@media (max-width:1280px){

.about-iconos{
  font-size: 105%;
}
.about-section{
  width: 100%;
}
.about-iconos img {
  width: 15%;
  height: 70%;
}

}