#Aboutme {
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.about-texto h1{
    font-family: "Jost", sans-serif;
}
.about-texto p{
    font-family: monospace;
    text-align: start;
    padding: 0 20% 0;
    font-size: 20px;
}
.about-mention{
    font-family: monospace;
    font-size: 20px;
}
.about-iconos{
    display: flex;
    align-items: end;
    margin-left: 15%;
    margin-right: 18%;
    font-family: monospace;
    font-size: 15px;
}
.about-icono{
    list-style-type: none;
}
.about-iconos img{
    width: 13%;
}
